 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 645px;
}

.u-section-1 .u-text-1 {
  width: 606px;
  margin: 60px auto 0;
}

.u-section-1 .u-line-1 {
  width: 50px;
  height: 0;
  margin: 9px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: 9px 196px 60px 208px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    font-weight: normal;
  }

  .u-section-1 .u-text-2 {
    margin-right: 96px;
    margin-left: 108px;
    width: 651px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
    margin-bottom: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-bottom: 60px;
  }
}