 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 715px;
}

.u-section-1 .u-line-1 {
  height: 3px;
  transform-origin: right center;
  width: 785px;
  margin: 60px auto 0;
}

.u-section-1 .u-text-1 {
  width: 785px;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-1 .u-form-1 {
  height: 367px;
  width: 603px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-1 .u-line-2 {
  height: 3px;
  transform-origin: left center;
  width: 785px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-line-1 {
    width: 720px;
  }

  .u-section-1 .u-text-1 {
    width: 720px;
  }

  .u-section-1 .u-line-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-line-1 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-line-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-line-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }

  .u-section-1 .u-line-2 {
    width: 340px;
  }
}